
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #E5E5E5 !important;
	font-family: 'Calibri', sans-serif;
}
.y-color{
	background-color: #FFA500;
}
button:active,
button:hover{
	outline: 0px !important;
}

nav{
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 6vh;
	box-shadow: 0 5px 6px -6px black;
}
nav .logo{
	width: 20%;
}
nav .search{
	text-align: center;
	width: 50%;
}
nav .links{
	width: 250px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 17rem;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	font-weight: bold;
	text-decoration: none;
	color: #9C9D9D;
}
.nav-links a i{
	font-size: 25px;
}
nav .nav-links .navText{
	font-size: 14px;
}

nav .search .search-box{
	width: 70%;
	height: 37px;
	border-radius: 20px;
	padding: 5px 15px;
	border: 1px solid #9C9D9D;
}

nav .search-button{
	margin-left: -36px;
	border-radius: 50%;
	font-size: 16px;
	border: 1px solid #9C9D9D;
}

nav .search-button i{
	font-weight: 600;
}

.main-heading{  
	font-weight:bold;
}
.filter-text{
	font-size: 16px;
}
.filter{
	border: 1px solid #9C9D9D;
    padding: 6px 12px;
	border-radius: 20px;
	font-size: 16px;
}
.filter a{
	text-decoration: none;
	color: black;
}

.card-tag{
	font-weight: bold;
	padding: 2px 15px;
	font-size: 14px;
	height: 24px;
}

.top-card{
	margin-top: -10px;
	z-index: -1;
}
.card-product-name{
	font-size: 20px;
}

.product-name{
	font-weight: 900;
	font-size: 16px;
	text-decoration: underline;
}

.model-no,
.model-type{
	font-size: 14px;
}
.product-img{
	position: relative;
}

.auto-express{
	position: absolute;
	top: 0;
	right: 0;
}

.total-amount{
	font-weight: bold;
	font-size: 20px;
}

.qty button{
	width: 40px;
	background-color: white;
	border: 1px solid #9C9D9D;
	height: 40px;
	font-size: 16px;
}
.qty .qty-icon{
	font-size: 16px;
}

.qty .qty-value{
	text-align: center;
	width: 40px;
	height: 40px;
	margin: 0px -4px;
	border: 1px solid #9C9D9D;
	background-color: #9C9D9D;
}
.limited-qty{
	font-weight: bold;
	font-size: 14px;
}

.stock-back{
	font-size: 14px;
	font-weight: bold;
	color: brown;
}

.add-to-cart{
	width: 150px;
	border: none;
	border-radius: 35px;
	height:40px;
	font-size: 16px;
}

.notify-me{
	width: 150px;
	border: 1px solid #FFA500;
	border-radius: 35px;
	height: 40px;
	font-size: 16px;
}

.load-more-result{
	width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    height: 46px;
    font-weight: bold;
}

@media (max-width:1024px){
	.model-no,
	.model-type{
		font-size: 12px;
	}
	.product-price p{
		font-size: 12px;
	}
	.total-amount{
		font-size: 16px;
	}
}

@media (max-width: 1024px) and (min-width: 800px){
	.list-btn button span{
		display: none;
	}
	.list-btn .add-to-cart{
		width: 50px;
		border: none;
		border-radius: 15px;
		height: 35px;
	}
	
	.list-btn .notify-me{
		width: 50px;
		border: 1px solid #FFA500;
		border-radius: 15px;
		height: 35px;
	}
}

@media (max-width: 768px) and (min-width:400px){
	.card-product-name{
		font-size: 14px;
	}
	.model-no,
	.model-type,
	.stock p,
	.product-price{
		font-size: 12px;
	}
	.total-amount{
		font-size: 16px;
	}
	.qty button{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.qty .qty-icon{
		font-size: 16px;
	}
	
	.qty .qty-value{
		width: 30px;
		height: 30px;
		margin: 0px -4px;
	}

	.add-to-cart{
		width: 110px;
		height:30px;
		font-size: 12px;
	}
	
	.notify-me{
		width: 110px;
		height:30px;
		font-size: 12px;
	}
}
@media (max-width:375px){
	.search-box{
		display: none;
	}
	.nav-links a i{
		font-size: 20px;
	}
	nav .search{
		text-align: right;
	}
	nav .search-button{
		border-radius: 50%;
		font-size: 14px;
		border: 1px solid #9C9D9D;
	}
	.nav-links{
		display: flex;
		justify-content: space-around;
		width: 12rem;
	}
	.nav-links a{
		font-weight: bold;
		text-decoration: none;
		color: #9C9D9D;
	}
	nav .navText{
		display: none;
	}

	.total-amount{
		font-weight: bold;
		font-size: 16px;
	}

	.filter-div{
		display: none;
	}

	.add-to-cart{
		width: 120px;
		font-size: 14px;
	}
	.notify-me{
		width: 120px;
		font-size: 14px;
	}
	.main-carousel .add-to-cart{
		width: 50px;
		border: none;
		border-radius: 35px;
		height:30px;
		font-size: 14px;
	}
	.add-to-cart span,
	.notify-me span{
		display: all;
	}
	.main-carousel .add-to-cart span{
		display: none;
	}
	.qty button{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.qty .qty-icon{
		font-size: 16px;
	}
	
	.qty .qty-value{
		width: 30px;
		height: 30px;
		margin: 0px -4px;
	}
}	
